#map {
    clear: both;
    height: 400px;
    margin-top: 10px;
}

#floating-panel {
    z-index: 5;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#output {
    height: 300px;
    width: 600px;
}

.btn-group,
#address-from,
#address-to {
    width: 100%;
}

#address-form {
    margin-bottom: 18px;
}

#video-creation {
    display: inline-block;
    content: '\25B7';
    padding-left: 10px;
}

#video-creation:after {
    display: inline-block;
    content: '\25B7';
    padding-left: 10px;
}

#video-creation:hover::after {
    display: inline-block;
    content: '\25B6';
    padding-left: 12px;
}

#footer {
    margin-top: 10px;
}

#search-clear-from {
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#search-clear-to {
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.main-page,
.video-page,
.about-page,
.notFound-page {
    display: none;
    min-height: 500px;
}

.main-page {
    display: none;
    min-height: 500px;
}

.diagram {
    position: relative;
    display: block;
    width: 400px;
    margin: 0 auto;
}

.progress-value {
    margin: auto;
    color: #666;
    text-align: center;
    position: absolute;
    width: 50%;
    top: 135px;
    left: 110px;
    font-size: 4em;
    height: 50px;
}

.progress-desc {
    margin: auto;
    color: #555;
    text-align: center;
    position: absolute;
    width: 300px;
    top: 215px;
    left: 50px;
    font-size: 1.5em;
    height: 50px;
}

#email {
    margin-top: 10px;
}

.url-placeholder {
    margin-top: 10px;
    text-align: center;
}

.not-found-message {
    margin-top: 150px;
    color: #337ab7;
    font-size: 2.5em;
}

.about-page img {
    width: 100%;
}

.alpha {
    color: #337ab7;
    font-size: .6em;
}

.info-message {
    display: none;
    text-align: center;
    padding-top: 10px;
    height: 40px;
}

.info-message._shown {
    display: block;
}
